body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    overflow: hidden;
}

.carrusel-container {
    width: 80%;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    background: #fff;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.slide a{
    text-decoration: none;
    color: #333;
}

h2 {
    font-size: 2em;
    color: #333;
}


.boton {
    position: fixed;
    bottom: 200px; 
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border:solid #333 1px;
}

.boton:hover {
    background-color: #0056b3;
}
